                @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400; 500; 600; 700; 800&display=swap');
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    text-decoration: none;
                    list-style: none;
                }
                
                body {
                    font-family: 'Poppins', sans-serif;
                }
                
                img {
                    max-width: 100%;
                }
                
                .container {
                    max-width: 120;
                    margin: 0 auto;
                }
                
                .header {
                    background-image: url(img/fondoPrincipal.png);
                    background-position: top center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    min-height: 80vh;
                    padding: 80px 0 0 0;
                }
                
                .menu {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                
                .logo {
                    color: #ffffff;
                    font-size: 25px;
                    font-weight: 800;
                    text-transform: uppercase;
                }
                
                .menu .navbar ul li {
                    position: relative;
                    float: left;
                }
                
                .menu .navbar ul li a {
                    font-size: 18px;
                    padding: 20px;
                    color: #ebebebeb;
                    display: block;
                    font-weight: 600;
                }
                
                .menu .navbar ul li a:hover {
                    color: #6ba5ec;
                }
                
                #menu {
                    display: none;
                }
                
                .menu-icono {
                    width: 25px;
                }
                
                .menu label {
                    cursor: pointer;
                    display: none;
                }
                
                .header-txt {
                    width: 50%;
                    padding-right: 75px;
                }
                
                .header-txt h1 {
                    color: hsl(0, 0%, 100%);
                    font-size: 45px;
                    line-height: 1;
                    text-transform: capitalize;
                    margin-bottom: 25px;
                }
                
                span {
                    color: #ffbf10
                }
                
                p {
                    font-size: 17px;
                    color: #ebebebeb;
                    margin-bottom: 35px;
                }
                
                .btn-1,
                .btn-2 {
                    display: inline-block;
                    padding: 13px 35px;
                    background-color: #2EA1FF;
                    color: #ffffff;
                }
                
                .about {
                    padding: 130px 0;
                    display: flex;
                }
                
                .about-img {
                    flex-basis: 50%;
                    display: flex;
                }
                
                .about-img img {
                    width: 270px;
                    border-radius: 20px;
                    margin-right: 30px;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                }
                
                .about-txt {
                    flex-basis: 50%;
                }
                
                h2 {
                    font-size: 40px;
                    line-height: 1;
                    color: #001739;
                    margin-bottom: 25px;
                }
                
                .about-txt p {
                    color: #444444;
                }
                
                .products {
                    padding: 0 0 100px 0;
                    text-align: center;
                }
                
                .products h2 {
                    margin-bottom: 45px;
                }
                
                .products-content {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 30px;
                }
                
                .product {
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                    border-radius: 25px;
                }
                
                .product img {
                    border-radius: 25px 25px 0 0;
                    width: 100%;
                    height: 250px;
                }
                
                .product-txt {
                    padding: 10px 10px 30px 10px;
                }
                
                .product-txt h3 {
                    font-size: 18px;
                    color: #373737;
                    margin-bottom: 25PX;
                }
                
                .product-txt p {
                    color: #444444;
                }
                
                .btn-2 {
                    padding: 5px 25px;
                }
                
                .informacion {
                    padding: 70px 0;
                    background-image: url(img/FondoInformacion.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                .information-content {
                    display: flex;
                }
                
                .information-1 {
                    flex-basis: 50%;
                }
                
                .information-2 {
                    flex-basis: 50%;
                    padding-left: 50px;
                }
                
                .information-2 h2 {
                    color: #ffffff;
                }
                
                .img-content {
                    display: flex;
                }
                
                .img-content img {
                    width: 200px;
                    margin-right: 15px;
                }
                
                form {
                    margin-top: 50px;
                }
                
                input {
                    padding: 15px 25px;
                    border: 1px solid #2EA1FF;
                    border-radius: 25px;
                    margin-right: 25px;
                    outline: none;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                    font-size: 15px;
                    text-transform: capitalize;
                }
                
                .btn-3 {
                    background-color: #ffffff;
                    cursor: pointer;
                    color: #2EA1FF;
                    cursor: pointer;
                }
                
                .footer {
                    background-color: #001739;
                    padding: 50px 0;
                }
                
                .footer-content {
                    display: flex;
                    justify-content: space-between;
                }
                
                .link h3 {
                    color: #ffffff;
                    font-size: 18px;
                    margin-bottom: 15px;
                }
                
                .link a {
                    font-size: 17px;
                    color: #ffffff;
                    display: block;
                    margin-bottom: 10px;
                }
                
                .link a:hover {
                    color: #2EA1FF;
                }
                
                @media(max-width:991px) {
                    .menu {
                        padding: 20px;
                    }
                    .menu label {
                        display: initial;
                    }
                    .menu .navbar {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: 0;
                        background-color: #2EA1FF;
                        display: none;
                    }
                    .menu .navbar ul li a:hover {
                        color: #001739;
                    }
                    .menu .navbar ul li a:hover {
                        color: #001739;
                    }
                    .menu .navbar ul li {
                        width: 100%;
                    }
                    #menu:checked~.navbar {
                        display: inicial;
                    }
                    .header {
                        background-position: left;
                        min-height: 0vh;
                        padding: 100px 30px;
                    }
                    .header-txt {
                        width: 100%;
                        text-align: 0;
                    }
                    .about {
                        padding: 30px;
                    }
                    .about-img {
                        justify-content: center;
                        order: 2;
                    }
                    .about-img img {
                        width: 150px;
                        margin: 0 15px;
                    }
                    .about-txt {
                        text-align: center;
                        margin-bottom: 35px;
                    }
                    .about-txt p {
                        margin-bottom: 15px;
                    }
                    .product {
                        padding: 30px
                    }
                    .product-content {
                        padding: 0 30px;
                        grid-template-columns: repeat(1, 1fr);
                    }
                    .informacion {
                        padding: 30px;
                        background-position: right;
                    }
                    .information-content {
                        flex-direction: column;
                    }
                    .information-2 {
                        text-align: center;
                        padding: 0;
                    }
                    .img-content {
                        justify-content: center;
                    }
                    .img-content img {
                        width: 80px;
                        form {
                            margin-top: 30;
                        }
                        input {
                            margin: 0 10px 10px 0;
                        }
                        .footer {
                            padding: 30px;
                        }
                        .footer-content {
                            flex-direction: column;
                            text-align: center;
                        }
                    }
                }